:host {
    display: contents;
}
.a-input {
    padding: 4px 4px 4px 15px;
    width: 100%;
    height: 40px;
    background: rgba(100, 41, 205, 0.08);
    border: 1px solid #BB65FF;
    border-radius: 100px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
}